<div class="container" style="max-width: 400px; margin: auto">
    <form #formLogin="ngForm">
        <div class="p-grid">
            <h1>Login</h1>

            <div class="p-field p-col-12 p-fluid">
                <input type="text" name="usuario" placeholder="E-mail" pInputText ngModel #usuario required>
            </div>

            <div class="p-field p-col-12 p-fluid">
                <input type="password" pInputText name="senha" placeholder="Senha" ngModel #senha required>
            </div>

            <div class="p-col-12 p-fluid">
                <button pButton type="button" label="Login" class="p-button-info" (click)="login(usuario.value, senha.value); senha.value= '';" [disabled]="formLogin.invalid"></button>
            </div>
        </div>
    </form>    
</div>