<div class="container">
    <form #formLancamento="ngForm" autocomplete="off" (ngSubmit)="salvar(formLancamento)">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>{{ editando ? 'Editando' : 'Novo'}} Lançamento</h1>
            </div>

            <div class="p-col-12">
                <p-selectButton [options]="tipos" name="tipoSel" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
            </div>

            <div class="p-col-6 p-md-3 p-fluid">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy"  name="caleVenci" [(ngModel)]="lancamento.dataVencimento" ngModel [readonlyInput]="false" #dataVencimento="ngModel" required></p-calendar>
                <app-message [control]="dataVencimento" error="required" text="Informe uma data de vencimento"></app-message>
            </div>

            <div class="p-col-6 p-md-3 p-fluid">
                <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
                <p-calendar dateFormat="dd/mm/yy"  name="calePag" [readonlyInput]="false" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
            </div>

            <div class="p-col-12 p-md-9 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="desc" [(ngModel)]="lancamento.descricao" ngModel #descricao="ngModel" required minlength="5">
                
                <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
                <app-message  [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Valor</label>
                <p-inputNumber placeholder="0,00" locale="pt-br" name="val" [minFractionDigits]="2" [(ngModel)]="lancamento.valor" ngModel #valor="ngModel" required></p-inputNumber>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categorias" placeholder="Selecione" name="categ" [(ngModel)]="lancamento.categoria.id" ngModel #categoria="ngModel" required></p-dropdown>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas" placeholder="Selecione" name="pes" [filter]="true" [(ngModel)]="lancamento.pessoa.id" ngModel #pessoa="ngModel" required></p-dropdown>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Observação</label>
                <textarea pInputTextarea name="obs" [(ngModel)]="lancamento.observacao" rows="3"></textarea>
            </div>

            <div class="p-col-12 p-d-flex p-p-3">
                <button pButton type="submit" label="Salvar" class="p-mr-2 p-button-info" [disabled]="formLancamento.invalid"></button>
                <button pButton type="button" label="Novo" class="p-mr-2" (click)="novo(formLancamento)"></button>
                <a routerLink="/lancamentos" class="p-as-center">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>