<div class="container">
    <form #formPessoa="ngForm" autocomplete="off" (ngSubmit)="salvar(formPessoa)">
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="p-col-12 p-fluid">
                <label>Nome</label>
                <input pInputText type="text" [(ngModel)]="pessoa.nome" ngModel name="nome" #nome="ngModel" required>
                <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
            </div>

            <div class="p-col-12 p-md-9 p-fluid">
                <label>Logradouro</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.logradouro" ngModel name="logradouro" #logradouro="ngModel" required>
                <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Número</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.numero" ngModel name="numero" #numero="ngModel" required>
                <app-message [control]="numero" error="required" text="Informe o número"></app-message>
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>Complemento</label>
                <input pInputText [(ngModel)]="pessoa.endereco.complemento" name="complemento" type="text">
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>Bairro</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.bairro" ngModel name="bairro" #bairro="ngModel" required>
                <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>
            </div>

            <div class="p-col-12 p-md-4 p-fluid">
                <label>CEP</label>
                <p-inputMask mask="99.999-999" [(ngModel)]="pessoa.endereco.cep" ngModel name="cep" #cep="ngModel" required></p-inputMask>
                <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Cidade</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.cidade" ngModel name="cidade" #cidade="ngModel" required>
                <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
            </div>

            <div class="p-col-12 p-md-6 p-fluid">
                <label>Estado</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.estado" ngModel name="estado" #estado="ngModel" required>
                <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
            </div>
            
            <div class="p-col-12 p-d-flex p-p-3">
                <button pButton type="submit" label="Salvar" class="p-mr-2 p-button-info" [disabled]="formPessoa.invalid"></button>
                <button pButton type="button" label="Novo" class="p-mr-2"></button>
                <a href="javascript:;" class="p-as-center">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>